/* ===============================Upper Level=========================== */
* {
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  text-decoration: none;
  list-style-type: none;
  position: relative;
  font-family: "Poppins-Regular";
  color: #ffffff;
  font-weight: 200;
}

body {
  margin: auto;
}

/* ===================================================================== */
/* ===============================Font/Text============================= */

/* font import */


@font-face {
  font-family: "Poppins-Medium";
  src: url("../Fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../Fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

/* font  */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: inline;
}

span {
  display: block;
}


a {
  font-size: 1.5rem;
  font-family: "Poppins-Medium";
  display: block;
  background-color: Transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 1rem 0rem;
}

a:active {
  padding: 0rem;
  margin: 0rem;
  opacity: 0.5;
  outline: 1px;
  transition: 1s;
}

h6 {
  padding: 0rem 0.5rem;
}


/* ===================================================================== */
/* ===============================Icons================================= */
.social-media-icons {
  max-width: 3.75rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

/* ===================================================================== */
/* ===============================Background============================ */

.content div {
  background: #414141;
}

.content .first-background {
  background: #313131;
}

.content .second-background {
  background: #515151;
}

.third-background {
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
}

/* ===================================================================== */
/* ===============================color============================ */
.first-color {
  color: #000000;
}

.second-color {
  color: #FFFFFF;
}

/* ===================================================================== */
/* ===============================Grid================================== */

.full-width {
  grid-column: 1/-1;
}

.five-columns {
  display: grid;
  grid-row: 1/9;
  grid-column: -2/-1;
  word-wrap: break-word;
  word-break: break-all;
  min-height: 8rem;
}

.five-columns-one-row {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/-2;
  word-wrap: break-word;
  word-break: break-all;
  align-items: center;
  min-height: 4rem;
}

.two-columns {
  display: grid;
  grid-column: span 2;
}

.one-column {
  display: grid;
  grid-column: span 1;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.block {
  display: block !important;
}

/* ===================================================================== */
/* =============================content================================= */
.content {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 5rem 5rem 5rem 5rem 5rem 20rem;
  width: 45rem;
  margin: auto;
  margin-top: 10vh;
  overflow-wrap: break-word;
  align-self: center;
}

.current-operand {
  text-align: right;
  z-index: 1;
  align-self: start;
}

.current-operand>h1 {
  font-size: 1.5rem;
  padding-right: 1rem;
  font-family: "Poppins-SemiBold";
}

small {
  font-size: 1rem;
  font-weight: 800;
  padding: 1rem 0.25rem;
}

.previous-operand {
  text-align: left;
}

.previous-operand>h1 {
  font-size: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-family: "Poppins-SemiBold";
}



/* ===================================================================== */
/* =============================row-1=================================== */
.row-1 {
  display: grid;
  grid-row: 1/2;
}

/* ===================================================================== */
/* =============================row-2=================================== */
.row-2 {
  display: grid;
  grid-row: 2/3;

}


/* ===================================================================== */
/* =============================row-3=================================== */
.row-3 {
  display: grid;
  grid-row: 3/4;

}

/* ===================================================================== */
/* =============================row-4=================================== */
.row-4 {
  display: grid;
  grid-row: 4/5;

}

/* ===================================================================== */
/* =============================row-5=================================== */
.row-5 {
  display: grid;
  grid-row: 5/6;

}

/* ===================================================================== */
/* =============================row-6=================================== */
.row-6 {
  display: grid;
  grid-row: 6/7;

}

/* ===================================================================== */
/* =============================row-7=================================== */
.row-7 {
  display: grid;
  grid-row: 7/8;
  margin-top: 3rem;
}

/* ===================================================================== */
/* =============================Responsive============================== */
@media only screen and (max-device-width: 825px) and (orientation: portrait) {
  .content {
    grid-template-columns: 5rem 5rem 5rem 5rem 5rem 20rem;
    width: 45rem;
    margin: auto;
  }
}

@media only screen and (max-device-width: 825px) and (orientation: landscape) {
  .content {
    grid-template-columns: 5rem 5rem 5rem 5rem 5rem 20rem;
    width: 45rem;
    margin: auto;
  }

  a {
    padding: 0.5rem 0rem;
  }

}


@media only screen and (max-device-width: 600px) and (orientation: portrait) {
  .content {
    grid-template-columns: repeat(6, 10rem);
    width: 60rem;
  }
}

@media only screen and (max-device-width: 600px) and (orientation: landscape) {
  .content {
    grid-template-columns: repeat(6, 10rem);
    width: 60rem;

  }

}

@media only screen and (max-device-width: 250px) and (orientation: portrait) {
  .content {
    grid-template-columns: repeat(6, 15rem);
    width: 75rem;
  }
}

@media only screen and (max-device-width: 250px) and (orientation: landscape) {
  .content {
    grid-template-columns: repeat(6, 10rem);
    width: 60rem;

  }
}